/*
 * Variables:
 *
 * Color system
 */


// Color system
// ==============================================================================

$white: #fff;
$gray-light-a: #F6F8FC;
$gray-dark-a: #7B7B7B;
$gray-dark-b: #3E4B56;
$gray-dark-c: #212A33;
$black: #000;
$brown: #69523D;
$brown-dark: #0E0F16;
$orange: #FFA34B;
$orange-dark: #E29248;
$red: #FF4545;
$red-dark-a: #E2486D;
$red-dark-b: #AA2656;
$purple: #6F5AEC;
$purple-dark: #7826AA;
$green: #37D19A;
$green-dark: #2BAA93;
$blue: #1780E1;
$blue-dark: #4154B8;